
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'components/navigation';
@import 'components/modal';
@import 'components/showcase';

.selectize-control.repositories .selectize-dropdown > div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.selectize-control.repositories .selectize-dropdown .by {
    font-size: 11px;
    opacity: 0.8;
}

.selectize-control.repositories .selectize-dropdown .by::before {
    content: 'by ';
}

.selectize-control.repositories .selectize-dropdown .name {
    font-weight: bold;
    margin-right: 5px;
}

.selectize-control.repositories .selectize-dropdown .title {
    display: block;
}

.selectize-control.repositories .selectize-dropdown .description {
    font-size: 12px;
    display: block;
    color: #a0a0a0;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.selectize-control.repositories .selectize-dropdown .meta {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.selectize-control.repositories .selectize-dropdown .meta li {
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 10px;
}

.selectize-control.repositories .selectize-dropdown .meta li span {
    font-weight: bold;
}

.selectize-control.repositories.loading::before {
    opacity: 0.4;
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-size: 16px 16px;
    margin: 0 3px 0 0;
}
